@media print {
    body {
        margin: 0;
        color: #000;
        background-color: #fff;
    }

    footer,
    .linkToHide {
        display: none;
    }

    .card-header {
        text-transform: uppercase;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
}
